In [1]:
liebiao = ['1','2','3','4','5']
yuanzu = ('Grace','Lawrrance','Joey','Ayer')
zidian = {'Mike':90,'Bill':93,'Lily':98}

In [3]:
sum = 0
i = 1
while i>0:
 if i>100:
  break
 else:
  sum += i
  i = i+1
print('1加到100的和为',sum)

1加到100的和为 5050

In [4]:
sum = 100
i = 100
while i>0:
 i = i-1
 if i==50:
  continue 
 sum += i
print('最终结果为',sum)

最终结果为 5000

In [5]:
list1 = [x for x in range(200) if x%2==0]
print('0到200之间的偶数:',list1)
list2 = [x for x in range(200) if x%3==0]
print('0到200之间可被3整除的数:',list2)
a = set(list1)
b = set(list2)
c = a&b
print('与集',c)
d = a|b
print('或集',d)
e = a-b
print('差集',e)

0到200之间的偶数: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
0到200之间可被3整除的数: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]
与集 {0, 132, 6, 138, 12, 144, 18, 150, 24, 156, 30, 162, 36, 168, 42, 174, 48, 180, 54, 186, 60, 192, 66, 198, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126}
或集 {0, 2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 116, 117, 118, 120, 122, 123, 124, 126, 128, 129, 130, 132, 134, 135, 136, 138, 140, 141, 142, 144, 146, 147, 148, 150, 152, 153, 154, 156, 158, 159, 160, 162, 164, 165, 166, 168, 170, 171, 172, 174, 176, 177, 178, 180, 182, 183, 184, 186, 188, 189, 190, 192, 194, 195, 196, 198}
差集 {128, 2, 130, 4, 134, 8, 136, 10, 140, 14, 142, 16, 146, 20, 148, 22, 152, 26, 154, 28, 158, 32, 160, 34, 164, 38, 166, 40, 170, 44, 172, 46, 176, 50, 178, 52, 182, 56, 184, 58, 188, 62, 190, 64, 194, 68, 196, 70, 74, 76, 80, 82, 86, 88, 92, 94, 98, 100, 104, 106, 110, 112, 116, 118, 122, 124}