In [20]:
import pandas as pd
import numpy as np
import os
os.getcwd()
#xuesheng = pd.read_csv(hancheng.csv)
#xuesheng = pd.read_csv("https://github.com/wuchangsheng951/python_study/hancheng.csv",header=None)
#xuesheng.head(10)

'C:\\Users\\Lenovo'

In [35]:
xuesheng = pd.DataFrame(pd.read_csv('hancheng.csv'))
df = xuesheng.head(4)
print(df)
print(df.describe())

   school   姓名 性别          生日  年龄    裸右   裸左 带镜右眼 带镜左眼  电脑验光右      ...       \
0  junior  张熙涵  男   2000/3/25  18  0.08  1.0  NaN  NaN    NaN      ...
1  junior   郭鑫  男  1999/12/22  18  0.20  0.1  0.5  0.1  -3.25      ...
2  junior  郭佳宝  男   1999/8/27  18  1.00  0.3  NaN  NaN    NaN      ...
3  junior  丰妍玥  女  1999/12/13  18  0.30  0.4   缺失   缺失   2.25      ...

  Unnamed: 233 Unnamed: 234 Unnamed: 235 Unnamed: 236  Unnamed: 237  \
0          NaN          NaN          NaN          NaN           NaN
1          NaN          NaN          NaN          NaN           NaN
2          NaN          NaN          NaN          NaN           NaN
3          NaN          NaN          NaN          NaN           NaN

   Unnamed: 238  Unnamed: 239  Unnamed: 240  Unnamed: 241  Unnamed: 242
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN

[4 rows x 243 columns]
             裸右        裸左  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
count  4.000000  4.000000          0.0          0.0          0.0          0.0
mean   0.395000  0.450000          NaN          NaN          NaN          NaN
std    0.413239  0.387298          NaN          NaN          NaN          NaN
min    0.080000  0.100000          NaN          NaN          NaN          NaN
25%    0.170000  0.250000          NaN          NaN          NaN          NaN
50%    0.250000  0.350000          NaN          NaN          NaN          NaN
75%    0.475000  0.550000          NaN          NaN          NaN          NaN
max    1.000000  1.000000          NaN          NaN          NaN          NaN

       Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21      ...       \
count          0.0          0.0          0.0          0.0      ...
mean           NaN          NaN          NaN          NaN      ...
std            NaN          NaN          NaN          NaN      ...
min            NaN          NaN          NaN          NaN      ...
25%            NaN          NaN          NaN          NaN      ...
50%            NaN          NaN          NaN          NaN      ...
75%            NaN          NaN          NaN          NaN      ...
max            NaN          NaN          NaN          NaN      ...

       Unnamed: 233  Unnamed: 234  Unnamed: 235  Unnamed: 236  Unnamed: 237  \
count           0.0           0.0           0.0           0.0           0.0
mean            NaN           NaN           NaN           NaN           NaN
std             NaN           NaN           NaN           NaN           NaN
min             NaN           NaN           NaN           NaN           NaN
25%             NaN           NaN           NaN           NaN           NaN
50%             NaN           NaN           NaN           NaN           NaN
75%             NaN           NaN           NaN           NaN           NaN
max             NaN           NaN           NaN           NaN           NaN

       Unnamed: 238  Unnamed: 239  Unnamed: 240  Unnamed: 241  Unnamed: 242
count           0.0           0.0           0.0           0.0           0.0
mean            NaN           NaN           NaN           NaN           NaN
std             NaN           NaN           NaN           NaN           NaN
min             NaN           NaN           NaN           NaN           NaN
25%             NaN           NaN           NaN           NaN           NaN
50%             NaN           NaN           NaN           NaN           NaN
75%             NaN           NaN           NaN           NaN           NaN
max             NaN           NaN           NaN           NaN           NaN

[8 rows x 231 columns]

In [36]:
data=np.arange(0,16).reshape(4,4)
data=pd.DataFrame(data,columns=['a','b','c','d'])
def f(x):
    return x+1
print(data)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [37]:
data['a']=data['a'].apply(f)
print(data)

    a   b   c   d
0   1   1   2   3
1   5   5   6   7
2   9   9  10  11
3  13  13  14  15

In [39]:
data.loc[3]=data.loc[3].apply(f)
print(data)

    a   b   c   d
0   1   1   2   3
1   5   5   6   7
2   9   9  10  11
3  15  15  16  17

In [40]:
shp=data.shape
print(shp)

(4, 4)

In [41]:
data1=np.arange(0,16).reshape(4,4)
data1=pd.DataFrame(data1,columns=['e','f','g','h'])
data2=pd.concat([data,data1])
print(data2)

      a     b     c     d     e     f     g     h
0   1.0   1.0   2.0   3.0   NaN   NaN   NaN   NaN
1   5.0   5.0   6.0   7.0   NaN   NaN   NaN   NaN
2   9.0   9.0  10.0  11.0   NaN   NaN   NaN   NaN
3  15.0  15.0  16.0  17.0   NaN   NaN   NaN   NaN
0   NaN   NaN   NaN   NaN   0.0   1.0   2.0   3.0
1   NaN   NaN   NaN   NaN   4.0   5.0   6.0   7.0
2   NaN   NaN   NaN   NaN   8.0   9.0  10.0  11.0
3   NaN   NaN   NaN   NaN  12.0  13.0  14.0  15.0

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [44]:
data['a']

0     1
1     5
2     9
3    15
Name: a, dtype: int64

In [46]:
data[1:]

    a   b   c   d
1   5   5   6   7
2   9   9  10  11
3  15  15  16  17

In [47]:
data.iloc[2]

a     9
b     9
c    10
d    11
Name: 2, dtype: int64

In [50]:
data.drop(['a','b'],axis=1)

    c   d
0   2   3
1   6   7
2  10  11
3  16  17

In [4]:
data3=pd.DataFrame({'a':['1','2','3'],'b':['4','5','6'],'k1':['7','8','9']})
data4=pd.DataFrame({'a':['1','2','3'],'b':['4','5','6'],'k2':['10','11','12']})
res = pd.merge(data3,data4)
print(res)

   a  b k1  k2
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [3]:
import pandas as pd
from datetime import datetime
#获取当前时间
now  = datetime.now()
print(now)

2019-04-02 22:23:06.762032