In [55]:
#缺失值改为-99
import pandas as pd
import numpy as np
import os
os.getcwd()
df = pd.DataFrame(pd.read_csv('hancheng.csv'))
a=df.fillna({'生日':-99,'年龄':-99,'裸右':-99,'裸左':-99,'带镜右眼':-99,'带镜左眼':-99,'电脑验光右':-99,'电脑验光左':-99,'这一个戴镜时间':-99,'总戴镜时间':-99})
print(a)

      school    姓名 性别          生日    年龄    裸右    裸左 带镜右眼 带镜左眼   电脑验光右  \
0     junior   张熙涵  男   2000/3/25  18.0  0.08  1.00  -99  -99 -99.000
1     junior    郭鑫  男  1999/12/22  18.0  0.20  0.10  0.5  0.1  -3.250
2     junior   郭佳宝  男   1999/8/27  18.0  1.00  0.30  -99  -99 -99.000
3     junior   丰妍玥  女  1999/12/13  18.0  0.30  0.40  -99  -99   2.250
4     junior   高康乐  男  2001/10/26  16.0  1.00  0.40  -99  -99 -99.000
5     junior   张宇洁  女   2000/9/21  17.0  0.20  0.12  0.8  0.8 -99.000
6     junior   孙雯楚  女   2000/5/28  18.0  0.30  0.15    1    1 -99.000
7     junior   张泽雨  女    2000/6/2  18.0  0.25  0.20    1    1 -99.000
8     junior   王元博  男   2000/1/24  18.0  1.00  1.00  -99  -99 -99.000
9     junior   曹泽会  男   2000/5/11  18.0  0.50  1.00  -99  -99  -1.000
10    junior   杨家乐  男   2000/2/13  18.0  0.40  0.20  -99  -99  -1.500
11    junior   乔世良  男  1999/12/14  18.0  0.15  0.14  0.8  0.4  -6.000
12    junior    雷卓  女   2000/4/19  18.0  1.00  1.00  -99  -99 -99.000
13    junior   李天玲  女  1999/11/20  18.0  0.60  1.00  -99  -99  -2.000
14    junior    王涛  男   1999/4/23  19.0  0.08  0.10  0.6  0.3 -10.375
15    junior    王伟  男  1999/12/18  18.0  1.00  1.00  -99  -99 -99.000
16    junior    高蕰  男  2000/10/12  17.0  0.12  0.12  0.8  0.8 -99.000
17    junior   高国强  男   2000/5/30  18.0  1.00  1.00  -99  -99 -99.000
18    junior    雷霄  女    1998/3/7  20.0  0.50  0.40  -99  -99   0.250
19    junior    马鑫  男   1999/6/27  19.0  0.15  0.12    1    1 -99.000
20    junior   吉泽阳  男   1999/9/23  18.0  0.25  0.30    1    1 -99.000
21    junior   高艺昭  女   1999/4/10  19.0  0.15  0.15    1    1 -99.000
22    junior   吴松哲  女  1999/10/15  18.0  0.15  0.12    1    1 -99.000
23    junior    李鹏  男  1998/12/23  19.0  0.40  0.50  -99  -99  -1.000
24    junior   年桂欣  女   1999/9/18  18.0  0.15  0.25  0.8  0.8 -99.000
25    junior   孙雪萌  女    2000/6/4  18.0  1.00  1.00  -99  -99 -99.000
26    junior   段泽锐  男   2001/1/23  17.0  1.00  1.00  -99  -99 -99.000
27    junior   丁豪楠  男   2001/9/18  16.0  0.40  0.50    1    1 -99.000
28    junior   王璐瑶  女    2001/8/3  16.0  1.00  1.00  -99  -99 -99.000
29    junior    孙婷  女   2001/4/23  17.0  0.25  0.25    1    1 -99.000
...      ...   ... ..         ...   ...   ...   ...  ...  ...     ...
1431  senior   樊亮琪  女   1996/4/11  22.0  0.25  0.20  0.6    1 -99.000
1432  senior   王爽迪  女    1996/4/1  22.0  0.12  0.15    1    1 -99.000
1433  senior   韩伟鹏  男  1996/11/19  21.0  0.30  0.30    1    1 -99.000
1434  senior   刘鑫琦  男  1996/11/23  21.0  0.50  0.40  -99  -99 -99.000
1435  senior    晋悦  女         -99  17.0  0.60  0.60  -99  -99  -1.250
1436  senior    晋欢  女         -99  17.0  0.20  0.12  -99  -99  -4.500
1437  senior    张璇  女         -99  16.0  1.00  0.60  -99  -99 -99.000
1438  senior    樊荣  女         -99  16.0  0.20  0.15    1    1 -99.000
1439  senior   张仙娟  女  1995/10/23  22.0  1.00  0.60  -99  -99 -99.000
1440  senior    尚欢  女  1995/12/20  22.0  1.00  1.00  -99  -99 -99.000
1441  senior   冯陈洁  女    1994/2/5  24.0  0.50  0.40  -99  -99  -5.000
1442  senior    晋希  女         -99  17.0  0.40  0.40  -99  -99  -4.000
1443  senior   贺竹颖  女         -99  15.0  0.20  0.40  -99  -99  -3.750
1444  senior   郝思蒙  女         -99  17.0  0.30  0.30    1    1 -99.000
1445  senior   刘梦羽  女         -99  16.0  0.20  0.20  0.6  0.6  -4.750
1446  senior  冀杨晨良  女         -99  16.0  0.15  0.60    1    1 -99.000
1447  senior   同夏利  女         -99  16.0  0.25  0.25  0.6    1 -99.000
1448  senior   陈佳珠  女         -99  18.0  0.30  0.25    1  0.8 -99.000
1449  senior   鱼幸子  女         -99  18.0  0.30  0.20    1    1 -99.000
1450  senior   党鈺婷  女         -99  18.0  0.25  0.40    1    1 -99.000
1451  senior    陈晨  女    1996/8/9  21.0  0.15  0.15    1    1 -99.000
1452  senior   吴嘉洁  女         -99  18.0  0.08  0.20    1    1 -99.000
1453  senior   高玉荣  女    1996/1/6  22.0  0.15  0.10    1    1 -99.000
1454  senior   马金萌  女    1999/3/6  19.0  0.10  0.20    1    1 -99.000
1455  senior    高琳  女         -99  18.0  0.25  0.30  -99  -99  -4.000
1456  senior    杨京  女         -99  18.0  1.00  1.00  -99  -99 -99.000
1457  senior    王洁  女  1995/10/15  22.0  0.40  0.40    1    1 -99.000
1458  senior    赵丹  女   1995/2/12  23.0  0.25  0.25  0.6  0.6  -6.000
1459  senior   元秦峰  男   1998/9/10  19.0  0.20  0.25    1    1 -99.000
1460  senior    刘华  男  1996/10/23  17.0  0.60  0.50  -99  -99  -1.500

          ...      Unnamed: 233 Unnamed: 234 Unnamed: 235 Unnamed: 236  \
0         ...               NaN          NaN          NaN          NaN
1         ...               NaN          NaN          NaN          NaN
2         ...               NaN          NaN          NaN          NaN
3         ...               NaN          NaN          NaN          NaN
4         ...               NaN          NaN          NaN          NaN
5         ...               NaN          NaN          NaN          NaN
6         ...               NaN          NaN          NaN          NaN
7         ...               NaN          NaN          NaN          NaN
8         ...               NaN          NaN          NaN          NaN
9         ...               NaN          NaN          NaN          NaN
10        ...               NaN          NaN          NaN          NaN
11        ...               NaN          NaN          NaN          NaN
12        ...               NaN          NaN          NaN          NaN
13        ...               NaN          NaN          NaN          NaN
14        ...               NaN          NaN          NaN          NaN
15        ...               NaN          NaN          NaN          NaN
16        ...               NaN          NaN          NaN          NaN
17        ...               NaN          NaN          NaN          NaN
18        ...               NaN          NaN          NaN          NaN
19        ...               NaN          NaN          NaN          NaN
20        ...               NaN          NaN          NaN          NaN
21        ...               NaN          NaN          NaN          NaN
22        ...               NaN          NaN          NaN          NaN
23        ...               NaN          NaN          NaN          NaN
24        ...               NaN          NaN          NaN          NaN
25        ...               NaN          NaN          NaN          NaN
26        ...               NaN          NaN          NaN          NaN
27        ...               NaN          NaN          NaN          NaN
28        ...               NaN          NaN          NaN          NaN
29        ...               NaN          NaN          NaN          NaN
...       ...               ...          ...          ...          ...
1431      ...               NaN          NaN          NaN          NaN
1432      ...               NaN          NaN          NaN          NaN
1433      ...               NaN          NaN          NaN          NaN
1434      ...               NaN          NaN          NaN          NaN
1435      ...               NaN          NaN          NaN          NaN
1436      ...               NaN          NaN          NaN          NaN
1437      ...               NaN          NaN          NaN          NaN
1438      ...               NaN          NaN          NaN          NaN
1439      ...               NaN          NaN          NaN          NaN
1440      ...               NaN          NaN          NaN          NaN
1441      ...               NaN          NaN          NaN          NaN
1442      ...               NaN          NaN          NaN          NaN
1443      ...               NaN          NaN          NaN          NaN
1444      ...               NaN          NaN          NaN          NaN
1445      ...               NaN          NaN          NaN          NaN
1446      ...               NaN          NaN          NaN          NaN
1447      ...               NaN          NaN          NaN          NaN
1448      ...               NaN          NaN          NaN          NaN
1449      ...               NaN          NaN          NaN          NaN
1450      ...               NaN          NaN          NaN          NaN
1451      ...               NaN          NaN          NaN          NaN
1452      ...               NaN          NaN          NaN          NaN
1453      ...               NaN          NaN          NaN          NaN
1454      ...               NaN          NaN          NaN          NaN
1455      ...               NaN          NaN          NaN          NaN
1456      ...               NaN          NaN          NaN          NaN
1457      ...               NaN          NaN          NaN          NaN
1458      ...               NaN          NaN          NaN          NaN
1459      ...               NaN          NaN          NaN          NaN
1460      ...               NaN          NaN          NaN          NaN

      Unnamed: 237  Unnamed: 238  Unnamed: 239  Unnamed: 240  Unnamed: 241  \
0              NaN           NaN           NaN           NaN           NaN
1              NaN           NaN           NaN           NaN           NaN
2              NaN           NaN           NaN           NaN           NaN
3              NaN           NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN           NaN
5              NaN           NaN           NaN           NaN           NaN
6              NaN           NaN           NaN           NaN           NaN
7              NaN           NaN           NaN           NaN           NaN
8              NaN           NaN           NaN           NaN           NaN
9              NaN           NaN           NaN           NaN           NaN
10             NaN           NaN           NaN           NaN           NaN
11             NaN           NaN           NaN           NaN           NaN
12             NaN           NaN           NaN           NaN           NaN
13             NaN           NaN           NaN           NaN           NaN
14             NaN           NaN           NaN           NaN           NaN
15             NaN           NaN           NaN           NaN           NaN
16             NaN           NaN           NaN           NaN           NaN
17             NaN           NaN           NaN           NaN           NaN
18             NaN           NaN           NaN           NaN           NaN
19             NaN           NaN           NaN           NaN           NaN
20             NaN           NaN           NaN           NaN           NaN
21             NaN           NaN           NaN           NaN           NaN
22             NaN           NaN           NaN           NaN           NaN
23             NaN           NaN           NaN           NaN           NaN
24             NaN           NaN           NaN           NaN           NaN
25             NaN           NaN           NaN           NaN           NaN
26             NaN           NaN           NaN           NaN           NaN
27             NaN           NaN           NaN           NaN           NaN
28             NaN           NaN           NaN           NaN           NaN
29             NaN           NaN           NaN           NaN           NaN
...            ...           ...           ...           ...           ...
1431           NaN           NaN           NaN           NaN           NaN
1432           NaN           NaN           NaN           NaN           NaN
1433           NaN           NaN           NaN           NaN           NaN
1434           NaN           NaN           NaN           NaN           NaN
1435           NaN           NaN           NaN           NaN           NaN
1436           NaN           NaN           NaN           NaN           NaN
1437           NaN           NaN           NaN           NaN           NaN
1438           NaN           NaN           NaN           NaN           NaN
1439           NaN           NaN           NaN           NaN           NaN
1440           NaN           NaN           NaN           NaN           NaN
1441           NaN           NaN           NaN           NaN           NaN
1442           NaN           NaN           NaN           NaN           NaN
1443           NaN           NaN           NaN           NaN           NaN
1444           NaN           NaN           NaN           NaN           NaN
1445           NaN           NaN           NaN           NaN           NaN
1446           NaN           NaN           NaN           NaN           NaN
1447           NaN           NaN           NaN           NaN           NaN
1448           NaN           NaN           NaN           NaN           NaN
1449           NaN           NaN           NaN           NaN           NaN
1450           NaN           NaN           NaN           NaN           NaN
1451           NaN           NaN           NaN           NaN           NaN
1452           NaN           NaN           NaN           NaN           NaN
1453           NaN           NaN           NaN           NaN           NaN
1454           NaN           NaN           NaN           NaN           NaN
1455           NaN           NaN           NaN           NaN           NaN
1456           NaN           NaN           NaN           NaN           NaN
1457           NaN           NaN           NaN           NaN           NaN
1458           NaN           NaN           NaN           NaN           NaN
1459           NaN           NaN           NaN           NaN           NaN
1460           NaN           NaN           NaN           NaN           NaN

      Unnamed: 242
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26             NaN
27             NaN
28             NaN
29             NaN
...            ...
1431           NaN
1432           NaN
1433           NaN
1434           NaN
1435           NaN
1436           NaN
1437           NaN
1438           NaN
1439           NaN
1440           NaN
1441           NaN
1442           NaN
1443           NaN
1444           NaN
1445           NaN
1446           NaN
1447           NaN
1448           NaN
1449           NaN
1450           NaN
1451           NaN
1452           NaN
1453           NaN
1454           NaN
1455           NaN
1456           NaN
1457           NaN
1458           NaN
1459           NaN
1460           NaN

[1461 rows x 243 columns]

In [63]:
#使用describe函数
c = a.describe()
print(c)

                年龄           裸右           裸左        电脑验光右  Unnamed: 14  \
count  1461.000000  1461.000000  1461.000000  1461.000000          0.0
mean     15.446270     0.611834     0.624832   -68.728186          NaN
std      12.360095     0.356555     0.351291    44.823322          NaN
min     -99.000000     0.020000     0.020000   -99.000000          NaN
25%      14.000000     0.250000     0.300000   -99.000000          NaN
50%      17.000000     0.600000     0.600000   -99.000000          NaN
75%      19.000000     1.000000     1.000000    -3.500000          NaN
max     113.000000     1.200000     1.200000     2.250000          NaN

       Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

           ...       Unnamed: 233  Unnamed: 234  Unnamed: 235  Unnamed: 236  \
count      ...                0.0           0.0           0.0           0.0
mean       ...                NaN           NaN           NaN           NaN
std        ...                NaN           NaN           NaN           NaN
min        ...                NaN           NaN           NaN           NaN
25%        ...                NaN           NaN           NaN           NaN
50%        ...                NaN           NaN           NaN           NaN
75%        ...                NaN           NaN           NaN           NaN
max        ...                NaN           NaN           NaN           NaN

       Unnamed: 237  Unnamed: 238  Unnamed: 239  Unnamed: 240  Unnamed: 241  \
count           0.0           0.0           0.0           0.0           0.0
mean            NaN           NaN           NaN           NaN           NaN
std             NaN           NaN           NaN           NaN           NaN
min             NaN           NaN           NaN           NaN           NaN
25%             NaN           NaN           NaN           NaN           NaN
50%             NaN           NaN           NaN           NaN           NaN
75%             NaN           NaN           NaN           NaN           NaN
max             NaN           NaN           NaN           NaN           NaN

       Unnamed: 242
count           1.0
mean            1.0
std             NaN
min             1.0
25%             1.0
50%             1.0
75%             1.0
max             1.0

[8 rows x 233 columns]

In [ ]:
a['生日'] = pd.to_datetime(a['生日'],format = '%Y.%m.%d') #将生日转换为标准格式
a['生日'] = a['生日'].a.dt.strftime('%Y-%m-%d') #去掉日期中的时、分、秒
date = a['生日'].str.split('-',3,True) 
date.columns = ['年','月','日'] #将日期分成三列
a = pd.concat([a,date],axis = 1) #横向拼接
a= pd.drop('生日',axis = 1) #删除原来的生日属性列

In [ ]:
#修改数据类型
a['年'] = pd.DataFrame(a['年'],dtype = int)
a['月'] = pd.DataFrame(a['月'],dtype = int)
a['日'] = pd.DataFrame(a['日'],dtype = int)
a['年龄'] = pd.DataFrame(a['年龄'],dtype = int) 
a['裸右'] = pd.DataFrame(a['裸右'],dtype = float)
a['裸左'] = pd.DataFrame(a['裸左'],dtype = float)

In [ ]:
#将不合理符号修改
strange_rows = a['这一个戴镜时间'].str.contains('>').fillna(False)
a = a.replace(strange_rows,1)